<app-navbar></app-navbar>

<div class="container mt-5">
    <h1 class="text-center mb-4">Historial de reciclaje</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Material</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Punto de reciclaje</th>
            </tr>
        </thead>
        <tbody id="historial-table">
            <!-- Aquí se mostrarán las filas del historial de reciclaje -->

            <!-- Recuerda poner los botones -->
        </tbody>
    </table>
</div>
