<app-navbar></app-navbar>

<div class="container mt-5">
    <h1 class="text-center mb-4">Registro de actividad de reciclaje</h1>
    <form id="reciclaje-form">
        <div class="mb-3">
            <label for="material" class="form-label">Material</label>
            <input type="text" class="form-control" id="material" required>
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" required>
        </div>
        <div class="mb-3">
            <label for="punto-reciclaje" class="form-label">Punto de reciclaje</label>
            <input type="text" class="form-control" id="punto-reciclaje" required>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" required>
        </div>
        <button type="submit" class="btn btn-primary" id="btn">Registrar actividad</button>
    </form>
</div>
