
<div class="container">
  <div class="centrar">
    <h1 class="text-center mt-4"><img class="justify-content-center align-items-center"
        src="../../../assets/logo/logo.png" alt="" width="60"> Registro de usuario</h1>
    <form class="row g-3 mt-4" [formGroup]="formRegister">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="nombre">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input formControlName="email" type="email" class="form-control" id="email">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>
      <div class="col-md-6">
        <label for="telefono" class="form-label">Teléfono</label>
        <input formControlName="telefono" type="tel" class="form-control" id="telefono">
      </div>
      <div class="col-md-12">
        <label for="direccion" class="form-label">Dirección</label>
        <input formControlName="direccion" type="text" class="form-control" id="direccion">
      </div>
      <div class="col-md-12">
        <button (click)="registrar()" type="submit" class="btn" id="btn">Registrarse</button>
        <button (click)="regresar()" type="submit" class="btn btn-primary" id="btnDos">Regresar</button>
      </div>
    </form>
  </div>
</div>
