<app-navbar></app-navbar>

  <div class="container">
  <h1>{{this.titleCab}}</h1>
  </div>

    <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Puntos de reciclaje cercanos</h5>
                <p class="card-text">Encuentra los puntos de reciclaje cercanos a tu ubicación y contribuye al cuidado del medio ambiente.</p>
                <a routerLink="/recycling-points-search" class="btn" id="btn">Buscar puntos</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Historial de reciclaje</h5>
                <p class="card-text">Consulta tu historial de reciclaje y lleva un registro de tu contribución al medio ambiente.</p>
                <a routerLink="/recycling-history" class="btn" id="btn">Consultar historial</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Buscar materiales reciclables</h5>
                <p class="card-text">Encuentra información sobre los materiales reciclables y contribuye al cuidado del medio ambiente.</p>
                <a routerLink="/recyclable-materials-search" class="btn" id="btn">Buscar materiales</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Actividades de reciclaje</h5>
                <p class="card-text">Realiza actividades de reciclaje en los puntos cercanos a tu ubicación y contribuye al cuidado del medio ambiente.</p>
                <a routerLink="/recycling-activity-registration" class="btn" id="btn">Buscar actividades</a>
              </div>
            </div>
          </div>
        </div>
        <!--Tipo administrador-->
        <div class="row mt-4" *ngIf="this.tipodeUsuario =='Administrador'">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Agregar Usuarios</h5>
                <p class="card-text">Podras Agregar A usuarios de Tipo Administrador o Usuario</p><br>
                <p> Esta tarjeta solo debe aparecer si el usuario es administrador y abre la ventana administrador</p>
                <a routerLink="/user-management" class="btn" id="btn">Agregar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
